name: Release
on:
  release:
    types:
      - published
jobs:
  release:
    name: Release package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v3
        with:
          python-version: 3.10
      - run: pip install hatch
      - run: hatch build
      - run: hatch publish -u __token__ -a ${{ secrets.PYPI_TOKEN }}
