name: Release
on:
  release:
    types:
      - published
jobs:
  release:
    name: Release package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2.1.3
        with:
          python-version: 3.8
      - uses: dschep/install-poetry-action@v1.3
      - run: poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
      - run: poetry publish --build
