name: Integration
on: push

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8']
    name: Tests Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2.0.2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: dschep/install-poetry-action@v1.3
      - run: pip install tox==3.15.2
      - run: tox -e py,optional-artifactory

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2.0.2
        with:
          python-version: 3.8
      - uses: pre-commit/action@v2.0.0
        env:
          SKIP: no-commit-to-branch

  docs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8']
    name: Documentation python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2.0.2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: dschep/install-poetry-action@v1.3
      - run: pip install tox==3.15.2
      - run: tox -e docs

  coverage:
    name: Coverage report
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2.0.2
        with:
          python-version: 3.8
      - uses: dschep/install-poetry-action@v1.3
      - run: pip install tox==3.15.2
      - run: tox -e py,optional-artifactory,coverage-report
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.0.10
